.entire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    row-gap: 50px;
    width: 800px;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(156, 154, 154, 0.2); 
    height: 60vh;
}
body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 150px;
   
    border-radius: 10px;
}


.input{
    background-color: white;
    /* margin: 5px; */
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

form{
    /* border: 2px solid white; */
    padding: 4px;
    font-size:  1.25rem;
    margin-top: -35px;
}
button{
    background-color: blue;
    width: 100%;
}
